
<style>

    .apiExplorer .head {
        font-weight: bold;
        font-size: 16px;
    }
    .apiExplorer .item {
        padding: 5px 10px;
    }
</style>
<div class="row xAppHeader">
    <div class="col-md-6">
        <ul class="xBreadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li> > </li>
            <li class="active">Documentation</li>            
        </ul>
    </div>
    <div class="col-md-6">

    </div>
</div>


<div class='row'>
    <div class='col-md-12'>
        <div class="box box-warning">
            <div class="box-title">
                <i class="fa fa-search"></i>  Documentation > Java
            </div>
            <div class="box-body">
                <div class="row">
                    
                    <div class="col-md-12">
                        <div ui-view></div>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>