<style>
    .xBreadcrumb{
        font-size: 13px;
    }
    .xBreadcrumb > li {
        display: inline-block
    }
    .xAppHeader {
        margin-bottom: 10px;
    }
    .box-title{
        padding: 0px;
    }
</style>

<div class="row xAppHeader">
    <div class="col-md-6">
        <ul class="xBreadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li> > </li>
            <li class="active">App</li>
        </ul>
    </div>
    <div class="col-md-6">
        <a class="btn btn-xs btn-info pull-right" ui-sref="route2">Create App</a>
    </div>
</div>

<div class='row'>
    <div class='col-md-12'>
        <div class="box box-warning">
            <div class="box-header">
                <h3 class="box-title">
                    <i class="fa fa-th"></i>
                    <span>My App</span>
                </h3>
                <div class="box-tools">
                    <ul class="pagination pagination-sm no-margin pull-right">
                        <li><a href="#">«</a></li>
                        <li><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">»</a></li>
                    </ul>
                </div>
            </div>
            <!-- /.box-header -->
            <div class="box-body no-padding">
                <div class="main-questions-list">
                    <ul id="main_questions_list">

                        <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem" class="question-item post-188 question type-question status-publish hentry question_category-technology qa_tag-apps qa_tag-business-2 qa_tag-glass qa_tag-google qa_tag-technology-2" data-id="188">
                            <div itemprop="item" itemscope itemtype="http://schema.org/Question">
                                <div class="col-md-8 col-xs-8 q-left-content">
                                    <div class="q-ltop-content">
                                        <h2 itemprop="name">
                                            <a itemprop="url" href="#" class="question-title">App Name: Virtual Meeting Mobile</a>
                                        </h2>
                                    </div>
                                    <div class="q-lbtm-content">
                                        <div itemprop="text" class="question-excerpt">
                                            <p>Event or series of events where participants join in from multiple locations. </p>
                                        </div>
                                        <div class="question-cat">
                                            <ul class="question-tags">
                                                <li>
                                                    <a class="q-tag" href="#">Andorid </a>
                                                </li>
                                                <li>
                                                    <a class="q-tag" href="#">iOS </a>
                                                </li>
                                                <li>
                                                    <a class="q-tag" href="#">Kindle Fire </a>
                                                </li>
                                            </ul>
                                            <div class="clearfix"></div>
                                            <a itemprop="author" itemscope itemtype="http://schema.org/Person" href="http://www.demo.enginethemes.com/qaengine/blog/member/admin/">
                                                <span class="author-avatar"><img itemprop="image" src="http://enginethemes.com/demo/qaengine/wp-content/uploads/2015/01/12.jpg" class="avatar" alt=""/> </span>
                                                <span itemprop="name" class="author-name">Elvis Presley</span>
                                            </a>
                                            <span class="user-badge" style="background-color:#780978;">Sr. Software architect</span> 
                                            <span class="question-time">Created on May 9, 2016</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-xs-4 q-right-content">
                                    <ul class="question-statistic">
                                        <li><span class="question-views">97 </span>Users</li>
                                        <li><span class="question-answers">0 </span>API</li>
                                        <li><span class="question-votes">0 </span>Error</li>
                                    </ul>
                                    <div class="pumping">
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </li>

                        <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem" class="question-item post-188 question type-question status-publish hentry question_category-technology qa_tag-apps qa_tag-business-2 qa_tag-glass qa_tag-google qa_tag-technology-2" data-id="188">
                            <div itemprop="item" itemscope itemtype="http://schema.org/Question">
                                <div class="col-md-8 col-xs-8 q-left-content">
                                    <div class="q-ltop-content">
                                        <h2 itemprop="name">
                                            <a itemprop="url" href="#" class="question-title">App Name: Virtual Meeting Mobile</a>
                                        </h2>
                                    </div>
                                    <div class="q-lbtm-content">
                                        <div itemprop="text" class="question-excerpt">
                                            <p>Event or series of events where participants join in from multiple locations. </p>
                                        </div>
                                        <div class="question-cat">
                                            <ul class="question-tags">
                                                <li>
                                                    <a class="q-tag" href="#">Andorid </a>
                                                </li>
                                                <li>
                                                    <a class="q-tag" href="#">iOS </a>
                                                </li>
                                                <li>
                                                    <a class="q-tag" href="#">Kindle Fire </a>
                                                </li>
                                            </ul>
                                            <div class="clearfix"></div>
                                            <a itemprop="author" itemscope itemtype="http://schema.org/Person" href="http://www.demo.enginethemes.com/qaengine/blog/member/admin/">
                                                <span class="author-avatar"><img itemprop="image" src="http://enginethemes.com/demo/qaengine/wp-content/uploads/2015/01/12.jpg" class="avatar" alt=""/> </span>
                                                <span itemprop="name" class="author-name">Elvis Presley</span>
                                            </a>
                                            <span class="user-badge" style="background-color:#780978;">Sr. Software architect</span> 
                                            <span class="question-time">Created on May 9, 2016</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-xs-4 q-right-content">
                                    <ul class="question-statistic">
                                        <li><span class="question-views">97 </span>Users</li>
                                        <li><span class="question-answers">0 </span>API</li>
                                        <li><span class="question-votes">0 </span>Error</li>
                                    </ul>
                                    <div class="pumping">
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </li>


                        <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem" class="question-item post-188 question type-question status-publish hentry question_category-technology qa_tag-apps qa_tag-business-2 qa_tag-glass qa_tag-google qa_tag-technology-2" data-id="188">
                            <div itemprop="item" itemscope itemtype="http://schema.org/Question">
                                <div class="col-md-8 col-xs-8 q-left-content">
                                    <div class="q-ltop-content">
                                        <h2 itemprop="name">
                                            <a itemprop="url" href="#" class="question-title">App Name: Virtual Meeting Mobile</a>
                                        </h2>
                                    </div>
                                    <div class="q-lbtm-content">
                                        <div itemprop="text" class="question-excerpt">
                                            <p>Event or series of events where participants join in from multiple locations. </p>
                                        </div>
                                        <div class="question-cat">
                                            <ul class="question-tags">
                                                <li>
                                                    <a class="q-tag" href="#">Andorid </a>
                                                </li>
                                                <li>
                                                    <a class="q-tag" href="#">iOS </a>
                                                </li>
                                                <li>
                                                    <a class="q-tag" href="#">Kindle Fire </a>
                                                </li>
                                            </ul>
                                            <div class="clearfix"></div>
                                            <a itemprop="author" itemscope itemtype="http://schema.org/Person" href="http://www.demo.enginethemes.com/qaengine/blog/member/admin/">
                                                <span class="author-avatar"><img itemprop="image" src="http://enginethemes.com/demo/qaengine/wp-content/uploads/2015/01/12.jpg" class="avatar" alt=""/> </span>
                                                <span itemprop="name" class="author-name">Elvis Presley</span>
                                            </a>
                                            <span class="user-badge" style="background-color:#780978;">Sr. Software architect</span> 
                                            <span class="question-time">Created on May 9, 2016</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-xs-4 q-right-content">
                                    <ul class="question-statistic">
                                        <li><span class="question-views">97 </span>Users</li>
                                        <li><span class="question-answers">0 </span>API</li>
                                        <li><span class="question-votes">0 </span>Error</li>
                                    </ul>
                                    <div class="pumping">
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </li>


                        <li itemprop="itemListElement" itemscope itemtype="http://schema.org/ListItem" class="question-item post-188 question type-question status-publish hentry question_category-technology qa_tag-apps qa_tag-business-2 qa_tag-glass qa_tag-google qa_tag-technology-2" data-id="188">
                            <div itemprop="item" itemscope itemtype="http://schema.org/Question">
                                <div class="col-md-8 col-xs-8 q-left-content">
                                    <div class="q-ltop-content">
                                        <h2 itemprop="name">
                                            <a itemprop="url" href="#" class="question-title">App Name: Virtual Meeting Mobile</a>
                                        </h2>
                                    </div>
                                    <div class="q-lbtm-content">
                                        <div itemprop="text" class="question-excerpt">
                                            <p>Event or series of events where participants join in from multiple locations. </p>
                                        </div>
                                        <div class="question-cat">
                                            <ul class="question-tags">
                                                <li>
                                                    <a class="q-tag" href="#">Andorid </a>
                                                </li>
                                                <li>
                                                    <a class="q-tag" href="#">iOS </a>
                                                </li>
                                                <li>
                                                    <a class="q-tag" href="#">Kindle Fire </a>
                                                </li>
                                            </ul>
                                            <div class="clearfix"></div>
                                            <a itemprop="author" itemscope itemtype="http://schema.org/Person" href="http://www.demo.enginethemes.com/qaengine/blog/member/admin/">
                                                <span class="author-avatar"><img itemprop="image" src="http://enginethemes.com/demo/qaengine/wp-content/uploads/2015/01/12.jpg" class="avatar" alt=""/> </span>
                                                <span itemprop="name" class="author-name">Elvis Presley</span>
                                            </a>
                                            <span class="user-badge" style="background-color:#780978;">Sr. Software architect</span> 
                                            <span class="question-time">Created on May 9, 2016</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 col-xs-4 q-right-content">
                                    <ul class="question-statistic">
                                        <li><span class="question-views">97 </span>Users</li>
                                        <li><span class="question-answers">0 </span>API</li>
                                        <li><span class="question-votes">0 </span>Error</li>
                                    </ul>
                                    <div class="pumping">
                                    </div>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <!-- /.box-body -->
        </div>
    </div>
</div>


<a ui-sref=".list">Show List</a>
<appTitle></appTitle>
<div ui-view></div>
