




<div class="step33">
    <h5><strong>Logout API</strong></h5>
    <hr>
    <div class="row mar_ned">
        <div class="col-md-4 col-xs-3">
            <div class="pull-right oAuthLabel">Access token</div>
        </div>
        <div class="col-md-8 col-xs-9">
            <div class="input-group  generated-group">
                <input type="text" class="form-control" placeholder="Generated access token">
                <span class="input-group-btn">
                    <button class="btn btn-secondary" type="button">Generated</button>
                </span>
            </div>

        </div>
    </div>
   
    <div class="row mar_ned">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            
            <div style="border: 1px solid #e0e0e0; margin-right: 5px;">
                curl -X POST https://api.8x8.com/2/auth/token/revoke \ <br>
                --header 'Authorization: Bearer GZ6krJu0EeQAAAAAAAAAEhEO60i10kGqNJKVJIh1yDHQzEQtZqQ-aYB0aD03dyrf' \<br>
                --header 'Content-Type: application/json' \<br>
                --data 'null'<br>
            </div>              
  
        </div>
        <div class="col-md-1"></div>
    </div>

  
  
    <div class="row mar_ned">
        <div class="col-md-12">
            <ul class="list-inline pull-right">
                <li><button type="button" class="btn btn-primary next-step">Submit</button></li>
            </ul>
        </div>
    </div>


</div>